<div class="row">
  <div class="col-sm-12 col-md-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h1 class="display-2">{{ project.name }}</h1>
  </div>
</div>
<div class="row">
  @for (environment of project.environments; track project.name) {
  <div class="col-sm-12 col-md-12">
    <app-environment
      [project]="project.name"
      [environment]="environment"
    ></app-environment>
  </div>
  }
</div>
