<div>
  <div class="card-header font-weight-bold font-4xl">{{ server }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">Version</div>
      <div class="col-8">{{ status.versionInfo.version }}</div>
    </div>
    <div class="row">
      <div class="col-4">Creation Date</div>
      <div class="col-8">{{ status.versionInfo.creationDate }}</div>
    </div>
    <div class="row">
      <div class="col-4">Build Number</div>
      <div class="col-8">{{ status.versionInfo.revision }}</div>
    </div>
  </div>
</div>
